.BackGround{
    background-image: url("../assets/Images/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .Name{
        font-size: 9vmin;
        font-weight: 700;
        color: white;
        margin: unset;

    }
}
img{
    width: 100%;
}