.ContactPage {
    margin: 5vmax 0;
    height: 30vmax;
    .Contact{
        height: 100%;
        margin-left: 2vmax;
    }
    .Form {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .Input{
            textarea{
                height: 10vmax;
            }
        }
    }
    .Info{
        margin-left: 3vmax;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        img{
            width: 3vmax;
        }
        .Block{
            display: flex;
            align-items: center;
            .Text{
                font-size: 1.3vmax;
                margin-left: 2vmax;
            }
        }
    }
}
