.NavBar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: 500;
    box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
    .nav-link {
        color: black;
        margin: 0.2em;
    }
    .brand {
        margin-left: 3%;
        img {
            height: 6vh;
            margin: 0.5rem;
        }
    }
    .navbar-nav {
        flex-direction: row;
        margin-right: 3%;
        font-size: 18px;
    }
    .Nav-Section {
        align-items: center;
    }

    .icon {
        font-size: 28px;
    }
    .icon:hover {
        filter: invert(54%) sepia(77%) saturate(1764%) hue-rotate(206deg)
            brightness(89%) contrast(96%) !important;
    }
    .nav-link:hover {
        color: #5271ff !important;
    }
}
.offcanvas-header {
    justify-content: end !important;
}
.offcanvas.show:not(.hiding) {
    width: 80vw;
}
