.policy {
    background-color: rgba(245, 245, 245, 0.495);
    .policy_card {
        display: flex;
        justify-content: start;
        margin: 10px;
        .icon {
            margin: 5px;
        }
        .policy_card-content {
            margin: 5px;
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 14px;
                color: rgb(90, 90, 90);
            }
        }
    }
}
